.interests-background {
background-color: rgb(121, 214, 245);
}

.about-background {
    background-color: rgb(121, 214, 245);
}

.index-background {
    background-color: rgb(193, 193, 193);
}

.classes-background {
    background-color: rgb(193, 193, 193);
}

